div.Game{
    display: block;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
}

/* ~~~~~~~~~~~~  PLAYER'S HAND ~~~~~~~~~~~~~ */
  div.playerHand {
    position: relative;
    max-width: 90vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5rem;
  }
  
  div.playerHand div.card{
    filter: blur(0px);
    transition: transform 300ms ease-in; /* custom */
  }
  
  div.playerHand div.card:hover{
    cursor: pointer;
  }
  
  div.playerHand div.hand-container div:nth-child(1){
    position: absolute;
    transform: translateX(-8rem) translateY(1.2rem) rotate(-40deg);
    z-index: 0;
  }
  div.playerHand div.hand-container div:nth-child(2){
    position: absolute;
    transform: translateX(-7rem) translateY(0.8rem) rotate(-30deg);
    z-index: 1;
  }
  
  div.playerHand div.hand-container div:nth-child(3){
    position: absolute;
    transform: translateX(-5.5rem)  translateY(0.4rem) rotate(-20deg);
    z-index: 3;
  }
  div.playerHand div.hand-container div:nth-child(4){
    position: absolute;
    transform: translateX(-4rem) translateY(0.2rem) rotate(-10deg);
    z-index: 4;
  }
  div.playerHand div.hand-container div:nth-child(5){
    position: absolute;
    transform: translateX(-2.5rem) translateY(0rem)rotate(-5deg);
    z-index: 5;
  }
  div.playerHand div.hand-container div:nth-child(6){
    position: absolute;
    transform: translateX(-1rem) translateY(-0.1rem) rotate(0deg);
    z-index: 6;
  }
  div.playerHand div.hand-container div:nth-child(7){
    position: absolute;
    transform: translateX(0.5rem) translateY(-0.25rem) rotate(2.5deg);
    z-index: 7;
  }
  div.playerHand div.hand-container div:nth-child(8){
    position: absolute;
    transform: translateX(2rem) translateY(-0.15rem) rotate(5deg);
    z-index: 8;
  }
  div.playerHand div.hand-container div:nth-child(9){
    position: absolute;
    transform: translateX(3.5rem) translateY(0.1rem) rotate(10deg);
    z-index: 9;
  }
  div.playerHand div.hand-container div:nth-child(10){
    position: absolute;
    transform: translateX(5rem) translateY(0.4rem) rotate(15deg);
    z-index: 10;
  }
  div.playerHand div.hand-container div:nth-child(11){
    position: absolute;
    transform: translateX(6.5rem) translateY(0.8rem) rotate(20deg);
    z-index: 11;
  }
  div.playerHand div.hand-container div:nth-child(12){
    position: absolute;
    transform: translateX(7.8rem) translateY(1.3rem) rotate(25deg);
    z-index: 12;
  }
  div.playerHand div.hand-container div:nth-child(13){
    position: absolute;
    transform: translateX(9rem) translateY(2rem) rotate(30deg);
    z-index: 13;
  }
  div.playerHand div.hand-container div:nth-child(14){
    position: absolute;
    transform: translateX(10rem) translateY(2.5rem) rotate(35deg);
    z-index: 14;
  }
  div.playerHand div.hand-container div:nth-child(15){
    position: absolute;
    transform: translateX(11.1rem) translateY(3.2rem) rotate(37deg);
    z-index: 15;
  }
   
  /* Hover Effect on Cards */
  div.playerHand div.hand-container div:nth-child(1):hover, div.playerHand div:nth-child(1).selected{
    position: absolute;
    transform: translateX(-9rem) translateY(0.2rem) rotate(-40deg);
    z-index: 0;
  }
  div.playerHand div.hand-container div:nth-child(2):hover, div.playerHand div:nth-child(2).selected{
    position: absolute;
    transform: translateX(-7.5rem) translateY(-0.2rem) rotate(-30deg);
    z-index: 1;
  }
  
  div.playerHand div.hand-container div:nth-child(3):hover, div.playerHand div:nth-child(3).selected{
    position: absolute;
    transform: translateX(-6.0rem)  translateY(-0.6rem) rotate(-20deg);
    z-index: 3;
  }
  div.playerHand div.hand-container div:nth-child(4):hover,  div.playerHand div.hand-container div:nth-child(4).selected{
    position: absolute;
    transform: translateX(-4rem) translateY(-0.8rem) rotate(-10deg);
    z-index: 4;
  }
  div.playerHand div.hand-container div:nth-child(5):hover, div.playerHand div:nth-child(5).selected{
    position: absolute;
    transform: translateX(-2.5rem) translateY(-1rem)rotate(-5deg);
    z-index: 5;
  }
  div.playerHand div.hand-container div:nth-child(6):hover, div.playerHand div:nth-child(6).selected{
    position: absolute;
    transform: translateX(-1rem) translateY(-1.1rem) rotate(0deg);
    z-index: 6;
  }
  div.playerHand div.hand-container div:nth-child(7):hover, div.playerHand div:nth-child(7).selected{
    position: absolute;
    transform: translateX(0.5rem) translateY(-1.25rem) rotate(2.5deg);
    z-index: 7;
  }
  div.playerHand div.hand-container div:nth-child(8):hover, div.playerHand div:nth-child(8).selected{
    position: absolute;
    transform: translateX(2rem) translateY(-1.15rem) rotate(5deg);
    z-index: 8;
  }
  div.playerHand div.hand-container div:nth-child(9):hover, div.playerHand div:nth-child(9).selected{
    position: absolute;
    transform: translateX(3.5rem) translateY(-0.9rem) rotate(10deg);
    z-index: 9;
  }
  div.playerHand div.hand-container div:nth-child(10):hover, div.playerHand div:nth-child(10).selected{
    position: absolute;
    transform: translateX(5rem) translateY(-0.6rem) rotate(15deg);
    z-index: 10;
  }
  div.playerHand div.hand-container div:nth-child(11):hover, div.playerHand div:nth-child(11).selected{
    position: absolute;
    transform: translateX(6.5rem) translateY(-0.2rem) rotate(20deg);
    z-index: 11;
  }
  div.playerHand div.hand-container div:nth-child(12):hover,  div.playerHand div.hand-container div:nth-child(12).selected{
    position: absolute;
    transform: translateX(8rem) translateY(0.3rem) rotate(25deg);
    z-index: 12;
  }
  div.playerHand div.hand-container div:nth-child(13):hover,  div.playerHand div.hand-container div:nth-child(13).selected{
    position: absolute;
    transform: translateX(9.2rem) translateY(1rem) rotate(30deg);
    z-index: 13;
  }
  div.playerHand div.hand-container div:nth-child(14):hover,  div.playerHand div.hand-container div:nth-child(14).selected{
    position: absolute;
    transform: translateX(10.5rem) translateY(1.5rem) rotate(35deg);
    z-index: 14;
  }
  div.playerHand div.hand-container div:nth-child(15):hover, div.playerHand div:nth-child(15).selected{
    position: absolute;
    transform: translateX(11.6rem) translateY(2.2rem) rotate(37deg);
    z-index: 15;
  }
  
/* ~~~~~~~~~~~~  PLAYER HANDS ~~~~~~~~~~~~~ */
div.hand-container{
  position: relative;
}

div.seat{
  position: relative;
}

div.seat-a .hand-container{
  position: absolute;
  bottom: 10px;
  left: 40%;
  /* transform: translateX(-50%); */
  /* width: 400px; */
  height: 180px;
}

div.seat-b .hand-container{
  position: absolute;
  right: 25px;
  width: 110px;
  height: 250px;
  top:50%;
  transform: translateY(-50%);
}

div.seat-c .hand-container{
  position: absolute;
  width: 220px;
  height: 130px;
  left: 50%;
  transform: translateX(-50%);
}

div.seat-d .hand-container{
  position: absolute;
  right: 25px;
  width: 110px;
  height: 250px;
  top:50%;
  transform: translateY(-50%);
}

div.seat-b .card {
  transform: rotate(90deg);
  position: absolute;
}  

div.seat-c .card {
  position: absolute;
}

div.seat-d .card {
  transform: rotate(90deg);
  position: absolute;
}
div.label--card-count{
  background: white;
  border-radius: 50%;
  min-width: 25px;
  min-height: 25px;
  color: black;
  position: absolute;
  border: solid 2px black;
  font-size: 0.8rem;
  font-weight: 700;
  padding-top: 0.2rem;
}

div.seat-b div.label--card-count{
  left: 50%;
}
div.seat-c div.label--card-count{
  top: 115px;
  left: 50%;
}
div.seat-d div.label--card-count{
  right: 50%;
}


/* ~~~~~~~~~~~~  PLAYER CONTROLS ~~~~~~~~~~~~~ */
div.playerControls {
  min-width: 200px;
  min-height: 200px;
  border: solid black 2px;
  float: right;
}

button.cardLeft {

}

/* ~~~~~~~~~~~~ FELT ~~~~~~~~~~~~~~~~~ */
/* div.felt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 40px;
  padding-top: 10px;
  width: 90vw;
  max-width: 800px;
  margin: 1rem auto;
  max-width: 90vw;
  min-height: 400px;
  background: lightgreen;
  background-color: #007047;
  background-image: url("../../assets/felt.png");
  position: relative;
} */

div.felt{
  padding-right: 40px;
  padding-top: 10px;
  width: 97vw;
  /* min-width: 800px; */
  /* max-width: 800px; */
  margin: 1rem auto;
  /* max-width: 90vw; */
  min-height: 400px;
  background: lightgreen;
  background-color: #007047;
  background-image: url("../../assets/felt.png");
  display: grid;
  grid-template-columns: repeat(8, 125px);
  grid-template-rows: repeat(8,100px);
  grid-gap: 5.75px;
  grid-auto-flow: row;
}

div.player{
  background: rgba(0, 0, 255, 0.486);
  border: 1px solid red;
  min-height: 200px;
}

div.player.currentTurn{
  animation: glow-yellow 5s infinite;
  border-color: gold;
}

div.seat-a{
  grid-column: 3 / span 4;
  grid-row: 6 / span 3;
}
div.seat-b{
  grid-column: 7 / span 2;
  grid-row: 2 / span 6;
}
div.seat-c{
  grid-column: 3 / span 4;
  grid-row: 1 / span 3;
}
div.seat-d{
  grid-column: 1 / span 2;
  grid-row: 2 / span 6;
}

/* ~~~~~~~~~~~~ DECK ~~~~~~~~~~~~~~~~~ */
div.deck{
  /* height: 140px;
  width: 110px;
  margin-right: 40px; */
  grid-column: 5 / span 2;
  grid-row: 4 / span 2;
  background: rgba(255, 192, 203, 0.425);
  min-height: 200px;

}
/* ~~~~~~~~~~~~ DISCARD PILE ~~~~~~~~~~~~~~~~~ */
div.discard{
  /* margin-top: 9px; */
  grid-column: 3 / span 2;
  grid-row: 4 / span 2;
  background: rgba(128, 0, 0, 0.39);
  min-height: 200px;
}


/* ~~~~~~~~~~~~ DISCARD PILE ~~~~~~~~~~~~~~~~~ */
div.Menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ~~~~~~~~~~~~ Player Hand ~~~~~~~~~~~~~~~~~ */
div.playerHand{
  /* position: absolute;
  bottom: 0;
  min-height: 210px; */
}

/* ~~~~~~~~~~~~ MessageBox ~~~~~~~~~~~~~~~~~ */
div.MessageBox{
  border: solid 2px black;
  max-height: 150px;
  overflow: auto;
  width: 300px;
}

/* ~~~~~~~~~~~~ Key Frames (Animations) ~~~~~~~~~~~~~~~~~ */
@keyframes glow-yellow{
  0%{
    /* border: solid 2px yellow; */
    box-shadow: 0px 0px 2px yellow;
  }
  15%{
    /* border: solid 2px yellow; */
    box-shadow: 0px 0px 10px yellow;
  }
  30%{
    /* border: solid 2px yellow; */
    box-shadow: 0px 0px 15px yellow;
  }
  50%{
    /* border: solid 2px yellow; */
    box-shadow: 0px 0px 20px yellow;
  }
  75%{
    /* border: solid 2px yellow; */
    box-shadow: 0px 0px 10px yellow;
  }
  100%{
    /* border: solid 2px yellow; */
    box-shadow: 0px 0px 2px yellow;
  }
}